####################
#### XY_STEPPERS.CFG
####################

#####################################################################
#   X Axis
#####################################################################
# B Stepper - Left
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: toolhead: PB6
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  B Stepper Motor
[tmc2209 stepper_x]
uart_pin: PC4
run_current: 0.8
interpolate: true

##  B Stepper Autotuning Settings
[autotune_tmc stepper_x]
motor: moons-ms17hd6p420I-04
tuning_goal: performance

#####################################################################
#   Y Axis
#####################################################################
##  A Stepper - Right
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 358
position_max: 358
homing_speed: 75  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  A Stepper Motor
[tmc2209 stepper_y]
uart_pin: PD11
run_current: 0.8
interpolate: true

##  A Stepper Autotuning Settings
[autotune_tmc stepper_y]
motor: moons-ms17hd6p420I-04
tuning_goal: performance

