#--------------------------------------#
####   BTT Octopus MCU Aliases    ######
#--------------------------------------#


[board_pins octopus_mcu]
mcu: mcu
aliases:

    # Driver SPI
    DRIVER_SPI_MOSI=PA7 , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_MISO=PA6 , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_SCK=PA5  , # Used in case of SPI drivers such as TMC2240 or TMC5160

    # MOTOR 0
    MOTOR0_STEP=PF13  , MOTOR0_DIR=PF12  , MOTOR0_ENABLE=PF14   , MOTOR0_CS=PC4   ,

    # MOTOR 1
    MOTOR1_STEP=PG0   , MOTOR1_DIR=PG1   , MOTOR1_ENABLE=PF15   , MOTOR1_CS=PD11  ,

    # MOTOR 2
    MOTOR2_STEP=PF11  , MOTOR2_DIR=PG3   , MOTOR2_ENABLE=PG5    , MOTOR2_CS=PC6   ,

    # MOTOR 3
    MOTOR3_STEP=PG4  , MOTOR3_DIR=PC1  , MOTOR3_ENABLE=PA0   , MOTOR3_CS=PC7  ,

    # MOTOR 4
    MOTOR4_STEP=PF9  , MOTOR4_DIR=PF10 , MOTOR4_ENABLE=PG2   , MOTOR4_CS=PF2  ,

    # MOTOR 5
    MOTOR5_STEP=PC13 , MOTOR5_DIR=PF0  , MOTOR5_ENABLE=PF1   , MOTOR5_CS=PE4  ,

    # MOTOR 6
    MOTOR6_STEP=PE2   , MOTOR6_DIR=PE3   , MOTOR6_ENABLE=PD4    , MOTOR6_CS=PE1   ,

    # MOTOR 7
    MOTOR7_STEP=PE6   , MOTOR7_DIR=PA14   , MOTOR7_ENABLE=PE0    , MOTOR7_CS=PD3   ,

    # TFT Port
    TFT_TX=PA9   , TFT_RX=PA10 ,

    # BL Touch Port
    BL_SERVO=PB6 , BL_SENSOR=PB7 ,

    # EXP1
    BEEPER=PE8  , BTN_ENC=PE7   , LCD_ENA=PE9    , LCD_RS=PE10     , LCD_D4=PE12  , LCD_D5=PE13   , LCD_D6=PE14    , LCD_D7=PE15   ,

    # EXP2
    SPI1_MISO=PA6  , SPI1_SCK=PA5   , BTN_EN2=PB1    , SD_CSEL=PA4     , BTN_EN1=PB2  , SPI1_MOSI=PA7   , SD_DET=PC15    , KILL=PC5   ,

    # PS_ON
    PS_ON=PE11 ,

    # Heaters
    BED_HEATER=PA2 ,
    #E_HEATER=PA3   ,
    #HE2=PB10   ,
    #HE3=PB11   ,

    # Thermistors
    BED_TEMPERATURE=PF3 ,
    #E_TEMPERATURE=PF4 ,
    CHAMBER_TEMPERATURE=PF4    ,
    T1_TEMPERATURE=PF5 ,
    T2_TEMPERATURE=PF6 ,
    T3_TEMPERATURE=PF7 ,

    # POWER_DET
    #POWER_DET=PC0 ,

    # FANS
    #PART_FAN=PA8 ,
    CONTROLLER_FAN=PA8        ,
    #E_FAN=PE5 ,
    EXHAUST_FAN=PE5           ,
    #FAN2=PD12 ,
    FILTER_FAN=PD12            ,
    FAN3=PD13 ,
    FAN4=PD14 ,
    FAN5=PD15 ,
    
    # RGB_LED
    #RGB_LED=PB0 ,
    CHAMBER_LIGHT=PB0 ,

    # PT1000
    #PT1000=PF8 ,

    # SPI3
    #SPI3_MSIO=PB4 , SPI3_MOSI=PB5 , SPI3_SCK=PB3 , SPI3_CS=PA15

    # Proximity Sensor
    #SENSOR=PB7 ,

    # Endstops
    STOP_0=PG6 ,
    #STOP_1=PG9 ,
    Y_STOP=PG9 ,
    STOP_2=PG10 ,
    STOP_3=PG11 ,
    STOP_4=PG12 ,
    STOP_5=PG13 ,
    STOP_6=PG14 ,
    STOP_7=PG15 ,
    