##################
#### MAINSAIL ####
##################
[include mainsail.cfg]

##################
####   ERCF   ####
##################
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/addons/blobifier.cfg]

##################
####  OBICO   ####
##################
[include moonraker_obico_macros.cfg]

##################
#### Hardware ####
##################
[include Hardware/mcu.cfg]
[include Hardware/e_stepper.cfg]
[include Hardware/xy_steppers.cfg]
[include Hardware/z_steppers.cfg]
[include Hardware/fans.cfg]
[include Hardware/thermistors.cfg]
[include Hardware/heaters.cfg]
[include Hardware/probe.cfg]
[include Hardware/adxl.cfg]
[include Hardware/leds.cfg]
[include Hardware/printer.cfg]
[include Hardware/buttons.cfg]

##################
##### Macros #####
##################
[include Macros/homing.cfg]
[include Macros/printer_macros.cfg]
[include Macros/base_macros.cfg]
[include Macros/materials.cfg]
[include Macros/leds.cfg]
[include Macros/backup.cfg]

[include Macros/KAMP_Settings.cfg]
[include Macros/spoolman.cfg]

[include K-ShakeTune/*.cfg]

[probe]
#z_offset: 0

[auto_speed]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 35.883
#*# pid_ki = 0.931
#*# pid_kd = 345.819
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.071
#*# pid_ki = 1.756
#*# pid_kd = 63.215
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.077500, 0.080000, 0.070000, 0.080000, 0.090000
#*# 	  -0.007500, 0.007500, -0.002500, 0.025000, 0.020000
#*# 	  0.007500, 0.030000, -0.012500, 0.037500, 0.020000
#*# 	  0.062500, 0.077500, 0.052500, 0.060000, 0.082500
#*# 	  0.137500, 0.157500, 0.130000, 0.190000, 0.160000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [probe]
#*# z_offset = -0.750
